{{ $wikiregex := "\\[\\[([^\\]\\|\\r\\n]+?)\\]\\]" }}
{{ $wikiregexWithText := "\\[\\[([^\\]\\|\\r\\n]+?)\\|([^\\]\\|\\r\\n]+?)\\]\\]" }}
{{ $page := .Page }}
{{ $pageContent := .Content }}
{{ range ($pageContent | findRE $wikiregex) }}
    {{ $link := . | replaceRE $wikiregex "$1" }}
    {{ $wikilink := printf "\\[\\[%s\\]\\]" $link }}
    {{ $resolvedLink := relref $page $link }}
    {{ if $resolvedLink }}
        {{ $linkedPage := $.Site.GetPage $link }} {{/* Changed from $resolvedLink to $link */}}
        {{ $linkTitle := $link }} {{/* Default to the link text itself */}}
        {{ if $linkedPage }}
            {{ $linkTitle = $linkedPage.Title }}
        {{ end }}
        {{ $htmlLink := printf "<a href=\"%s\">%s</a>" $resolvedLink $linkTitle }}
        {{ $pageContent = $pageContent | replaceRE $wikilink $htmlLink }}
    {{ else }}
        {{ $htmlLink := printf "<a href=\"#\">%s</a>" $link }}
        {{ $pageContent = $pageContent | replaceRE $wikilink $htmlLink }}
    {{ end }}
{{ end }}
{{ range ($pageContent | findRE $wikiregexWithText) }}
    {{ $link := . | replaceRE $wikiregexWithText "$1" }}
    {{ $text := . | replaceRE $wikiregexWithText "$2" }}
    {{ $wikilink := printf "\\[\\[%s\\|%s\\]\\]" $link $text }}
    {{ $resolvedLink := relref $page $link }}
    {{ if $resolvedLink }}
        {{ $linkedPage := $.Site.GetPage $link }} {{/* Changed from $resolvedLink to $link */}}
        {{ $linkTitle := $text }} {{/* Use the specified text as default */}}
        {{ if $linkedPage }}
            {{ $linkTitle = $linkedPage.Title }}
        {{ end }}
        {{ $htmlLink := printf "<a href=\"%s\">%s</a>" $resolvedLink $linkTitle }}
        {{ $pageContent = $pageContent | replaceRE $wikilink $htmlLink }}
    {{ else }}
        {{ $htmlLink := printf "<a href=\"#\">%s</a>" $text }}
        {{ $pageContent = $pageContent | replaceRE $wikilink $htmlLink }}
    {{ end }}
{{ end }}
{{ $pageContent | safeHTML }}