/* Site Theme Colors */ 
$color-text: #FBF4EF;
$color-subtext: #fbf4ef9d;
$color-bg: #161b20;
$color-accent: #FF6B35;
$color-secondary: #0D21A1;
$color-secondary-dark: #060F4B;

//theme Font
.poetsen-one-regular {
    font-family: "Poetsen One", serif;
    font-weight: 400;
    font-style: normal;
}

$theme-font-family: 'Poetsen One';
$theme-font-size: 26pt;

//Body & Header font
.manuale-regular {
    font-family: "Manuale", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}  

$body-font-family: 'Manuale';
$body-font-size: 12pt;
$header-font-family: 'Manuale';
$header-font-size: 18pt;

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-size: $header-font-size;
    color: $color-text;
}

.site-header-title {
    font-family: $theme-font-family;
    font-size: $theme-font-size;
    color: $color-text;
    transition: color 500ms;
    &:hover {
        color: $color-accent;
    }
}

.footer-copyright-text {
    color: $color-subtext;
}

body {
    font-family: $body-font-family;
    font-size: $body-font-size;
    color: $color-text;
    background-color: $color-bg;
}

a {
    color: $color-text;
    text-decoration: none;
    border-bottom-style: solid;
    border-color: $color-subtext;
    border-width: 1px;
    transition: color 500ms;
    &:hover {
        color: $color-accent;
    }
}

.a-no-ul {
    border-bottom-style: none;
}