.poetsen-one-regular {
    font-family: "Poetsen One", serif;
    font-weight: 400;
    font-style: normal;
}
  
.manuale-regular {
    font-family: "Manuale", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}  